
  <div class= "fondo">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
              <img src='{{usuario.linkFoto}}' class="card-img" style="max-height: 60px; max-width: 50px;">
          </li>
      <li class="nav-item">
        <a class="nav-link">
          <div class="alert alert-success ">Bienvenido : {{usuario.nombreCompleto}}</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <a routerLink="../home/Perfil"><button type="button" class="btn btn-lg btn-block btn-success">Mi
            Perfil</button>
          </a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <button type="button" (click)="onLogout()" class="btn btn-lg btn-block btn-success">LOGOUT</button>
        </a>
      </li>
    </ul>
  </div>